In [1]:
from game_set import Games

In [2]:
game_set = Games('bbl_json')

'Info' object has no attribute 'player_of_match'
'Info' object has no attribute 'player_of_match'
'Info' object has no attribute 'player_of_match'
'Info' object has no attribute 'player_of_match'
'Info' object has no attribute 'player_of_match'
'Info' object has no attribute 'player_of_match'
'Info' object has no attribute 'player_of_match'

In [3]:
game_set.get_form(1, 10)

[False, True, True, True, False, True, True, True, True, False]

In [4]:
game_set.game_df

,id,date,gender,home_team,away_team,winner,player_of_match
0,1023581,2016-12-20,male,Sydney Thunder,Sydney Sixers,Sydney Sixers,MC Henriques
1,1023583,2016-12-21,male,Adelaide Strikers,Brisbane Heat,Brisbane Heat,BB McCullum
2,1023585,2016-12-22,male,Melbourne Renegades,Sydney Thunder,Melbourne Renegades,AJ Finch
3,1023587,2016-12-23,male,Sydney Sixers,Hobart Hurricanes,Hobart Hurricanes,DJM Short
4,1023589,2016-12-23,male,Perth Scorchers,Adelaide Strikers,Perth Scorchers,AJ Turner
...,...,...,...,...,...,...,...
514,897753,2016-01-16,male,Sydney Sixers,Sydney Thunder,Sydney Thunder,SR Watson
515,897757,2016-01-18,male,Melbourne Renegades,Adelaide Strikers,Adelaide Strikers,TM Head
516,897759,2016-01-21,male,Adelaide Strikers,Sydney Thunder,Sydney Thunder,UT Khawaja
517,897761,2016-01-22,male,Melbourne Stars,Perth Scorchers,Melbourne Stars,KP Pietersen
518,897763,2016-01-24,male,Melbourne Stars,Sydney Thunder,Sydney Thunder,UT Khawaja

In [5]:
most_pom = game_set.game_df['player_of_match'].mode()

In [6]:
most_pom

0    CA Lynn
Name: player_of_match, dtype: object